*{
    --baby-blue-eyes: #a9cef4ff;
    --charcoal: #36494eff;
    --black: rgb(17, 16, 16);
    --air-superiority-blue: #7ea0b7ff;
    --dark-electric-blue: #597081ff;
    --yellow-green-crayola:#CDDFA0;
    --outer-space-crayola:#2B3D41#2B3D41;
    --platinum:#E6E8E6;
    --black-accent:rgb(20, 20, 20);

   }

